<html lang="en">
    <title>Dummy Data Sender</title>
    <body>
        <h1>Dummy Data Sender</h1>
        <h2>local client id: {{ local_client_id }}</h2>
        <ul>
            {% for message_type, payloads in list_of_payloads.items() %}
                {% for payload_name in payloads %}
                    <li>{{ message_type }}: <a href="/payload/{{ message_type }}/{{ payload_name }}?{% if debug_mode %}debug_mode=1&{% endif %}device_id={{ device_id }}">{{ payload_name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
        <form action="/" method="post">
            <label>
                <input type="checkbox" name="debug_mode"{% if debug_mode %} checked{% endif %}>
                send in debug mode
            </label>
            <br>

            <label>
                device_id:<br>
                <input type="text" name="device_id" value="{{ device_id }}">
            </label>
            <br>

            <label>
                message_type:<br>
                <input type="text" name="message_type" value="{{ message_type }}">
            </label>
            <br>

            <label>
                payload:<br>
                <textarea name="payload" style="width: 100%; height: 35vh">{{ payload }}</textarea>
            </label>
            <br>
            <input type="submit">
        </form>

        {% if outbound_message %}
            <h2>Outbound message:</h2>
            <pre>{{ outbound_message }}</pre>
        {% endif %}
    </body>
</html>